:root {
    --color-brand: #23CEA6;
    --color-head: #1c2b3e;
    --color-text: #495057;
}

html {
    scroll-behavior: smooth;
}

header {
    border-bottom: 1px solid hsla(0, 0%, 100%, .05);
}


.opacity-50 {
    opacity: .5;
}

.search-wrap {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 30px;
    transition: .5s;
    box-shadow: 0 0 0 5px #152235;
    overflow: hidden;
}

.search-wrap .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    cursor: pointer;
}


.search-wrap .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-brand);
    border-radius: 50%;
    transform: translate(0px, -3px);
    transition: .5s linear;

}

.search-wrap .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 6px;
    background: var(--color-brand);
    transform: translate(6px, 5px) rotate(318deg);
    transition: .5s linear;
}

.search-wrap .icon:hover::before {
    transform: translate(0px, -3px) rotateX(360deg);
}

.search-wrap.active {
    width: 360px;
}

.search-wrap .input {
    position: relative;
    width: 360px;
    height: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-wrap .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px 5px;
}

/* .clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 10px;
    background: #999;
    transform: rotate(315deg);
} */

.logo {
    width: 210px;
}

header .card-header {
    background-color: transparent;
    border-bottom: none;
}

header .card-header .card-button {
    color: #fff;
    position: relative;
}

header .card-header .card-button>span {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--color-brand);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1px;
}

/* .all-product .card-footer {
    background: #fff;
} */

.nav-link {
    color: #fff;
}

header .nav-link:focus,
header .nav-link:hover,
header .auth>a {
    color: #fff;
}

.main-container {
    flex: 1;
}

section {
    position: relative;
    padding: 3rem 0;
}

.section-intro {
    margin-bottom: 1.5rem;
}

.section-intro h1 {
    color: #fff;
    font-weight: 400;
    font-size: 2.5rem;
}

/* carousel */
.carousel-cell[class*=col]>* {
    transition: opacity .35s ease, transform .35s ease;
}

.carousel-cell[class*=col] {
    padding: 0 .75rem;
}

.carousel-cell[class*=col]:not(.is-selected)>* {
    opacity: .2;
}

.carousel-cell>a:hover,
.carousel-cell.is-selected {
    opacity: 1;
}

.carousel-cell span {
    line-height: 1.55;
    font-weight: 400;
}

/* category */
.category a>span {
    font-size: 30px;
}

.category p:last-child {
    margin-bottom: 0;
}

/* feature list */
.feature-list>li[class*=col] {
    display: flex;
    flex-direction: column;
}

.feature-list.feature-list-sm>li,
.feature-list:not(:last-child):not(.row) {
    margin-bottom: 1.5rem;
}

.feature-list>li>.card:only-child {
    margin-bottom: 0;
}

.feature-list>li[class*=col] .card {
    flex-grow: 1;
}

/* modal account*/
.modal.fade .modal-dialog {
    transform: none;
    transition: opacity .2s ease-out;
    opacity: 0;
}

.modal-center-viewport {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    pointer-events: none;
}

.modal-center-viewport .model-conetnt {
    width: 100%;
    pointer-events: all;
}

.bg-gradient {
    background: linear-gradient(135deg, var(--color-head), var(--color-brand)) !important;
    color: #fff;
}

/* animation icon */
.auth a .fas,
.category a .fas {
    transition: .5s linear;
}

.auth a:hover .fas,
.category a:hover .fas {
    transform: rotateY(360deg);
}

/* navbar menu */
.navbar-menu>li>a {
    position: relative;
}

.navbar-menu>li>a::before {
    content: "";
    position: absolute;
    display: block;
    height: 0.3em;
    width: 0%;
    background-color: #fff;
    bottom: -.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: all ease-in-out .25s;
}

.navbar-menu>li>a:hover::before {
    width: 60%;
}

.dropdown-menu>li {
    transition: .2s linear;
}

.dropdown-menu>li a,
.dropdown-menu>li i {
    transition: .5s linear;
}

.dropdown-menu>li:hover i {
    position: relative;
    bottom: 10px;
    transform: rotateY(360deg);
    color: var(--color-brand);
}

.dropdown-menu>li:hover a {
    background: none;
    color: var(--color-brand);
}

.space-sm {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.shadow-bottom {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

/* custom select */
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    display: inline-block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(../img/sort.svg) no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.custom-select-sm {
    padding-top: .375rem;
    padding-bottom: .375rem;
    height: calc(1.8125rem + 2px);
    font-size: 75%;
}

.btn-block {
    display: block;
    width: 100%;
}

.card {
    margin-bottom: 1.5rem;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

.btn-add-cart i {
    transition: .5s linear;
}

.btn-add-cart:hover i {
    position: relative;
    transform: rotateY(360deg);
}

/* avatar */
.avatar {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
}

.avatar.avatar-sm {
    width: 3rem;
    height: 3rem;
}

/* about us */
.bg-gray {
    background: #f8f9fa;
}

.text-brand {
    color: var(--color-brand);
}

.head-about .display-3 {
    font-weight: 400 !important;
}

.lead {
    font-size: 1.24rem;
    font-weight: 400;
    line-height: 1.875rem;
}

/* video cover*/
.video-cover {
    background: #000;
    position: relative;
    overflow: hidden;
}

.box-shadow {
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.embed-res {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background: #000;
}

.embed-res::before {
    display: block;
    content: "";
}

.embed-res-16by9:before {
    padding-top: 56.25%;
}


.embed-res .embed-res-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.param h2,
.param h3 {
    color: #000;
    font-weight: 400 !important;
}

.param h3 {
    display: inline-block;
}

.people img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    transition: .3s linear;
}


.people:hover img {
    transform: scale(1.25);
    box-shadow: 4px 3px 38px -12px #000;
}

.people:hover p.mb-4 {
    transform: scale(5px);
    position: relative;
    top: 20px;
}

/* contact */
.info-wrap {
    background: #292d33;
    color: #fff;
}

.color-gray {
    color: #999 !important;
}

.info-wrap .info-element {
    padding: 30px;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.info-wrap .info-element .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.info-wrap .info-element .icon-wrap>i {
    font-size: 48px;
}

.info-wrap .info-element h5 {
    font-size: 1rem;
}

.info-wrap .info-element p {
    font-size: .8rem;
    line-height: 1.4;
}

.info-wrap .info-element .social-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-wrap .info-element .social-group .social-url {
    font-size: 1.6rem;
    color: #fff;
}

.site {
    min-height: 100vh;
}

/* checkout */
.is-empty {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #999;
    text-align: center;
    border-radius: 10px;
    /* border: 1px #eee solid; */
    padding: 60px;
}

.is-empty h4 {
    color: var(--color-brand);
}

.btn-brand {
    background: var(--color-brand);
    color: #fff;
    border-radius: 25px;
    padding: 15px 25px;
    font-size: 20px;
    transition: .2s linear;
}

.btn-brand:hover {
    color: var(--color-head);
}

.is-empty:hover {
    box-shadow: 3px 3px 10px 3px rgb(0 0 0 / 10%);
}

.table a {
    cursor: pointer;
}

.table td,
.table th {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-width: 0;
}

/* for sale */

.card .sale {
    position: absolute;
    top: -10px;
    left: -10px;
    /* background-color: red; */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
}

.card .sale::before {
    content: 'sale';
    position: absolute;
    width: 150%;
    height: 30px;
    background: crimson;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card .sale::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 11px;
    background: rgb(158, 0, 32);
    bottom: 6px;
    left: 0;
    z-index: -1;
    box-shadow: 83px -84px rgb(158, 0, 32);
}

.bg-sale {
    background: crimson;
}

.card-product .star-rating>i,
.card-product {
    font-size: 12px;
}

.card-product .star-rating>i.checked {
    color: orange;

}

/* authentic views */

.auth-form {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form>main>form {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    padding: 3em;
    min-height: 60%;
    width: 40%;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 2;
}

.auth-form>main>form>h2 {
    font-size: 80px;
    position: absolute;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    left: 10%;
    top: 5%;
    z-index: -1;
}

.auth-form>main>form>p {
    font-weight: 500;
    color: #426696;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-auth,
.auth-form>main>form input {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.btn-auth:hover,
.auth-form>main>form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

.auth-form>main>form input:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.drop {
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 50%;
}

.auth-form>main .drops>h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 60px;
    position: absolute;
    margin-bottom: 0;
    right: 24%;
    top: -40px;
    background: transparent;
    z-index: 3;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    right: 67%;
    z-index: 3;
}

.drop-2 {
    height: 90px;
    width: 90px;
    bottom: -55px;
    left: 68%;
    z-index: 3;
}

.drop-3 {
    height: 120px;
    width: 120px;
    top: 95px;
    left: 65%;
    z-index: -1;
}

.drop-4 {
    height: 180px;
    width: 180px;
    bottom: -52px;
    right: 64%;
    z-index: -1;
}

.auth-form form:hover {
    margin: 15px;
}

/* upload avatar */
.avatar-wrapper {
    position: relative;
    height: 192px;
    width: 192px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all 0.3s ease;
}

.avatar-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper:hover .profile-pic {
    opacity: 0.5;
}

.avatar-wrapper .profile-pic {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
}

.avatar-wrapper .profile-pic:after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 192px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

.avatar-wrapper .upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.avatar-wrapper .upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 200px;
    top: -4px;
    left: -4px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    color: var(--color-head);
}

.avatar-wrapper .upload-button:hover .fa-arrow-circle-up {
    opacity: 0.9;
}

