@media screen and (min-width: 992px) {
    .space-lg {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}

@media screen and (max-width: 400px) {
    .search-wrap.active {
        width: 210px;
    }
}

@media screen and (min-width: 576px) {
    .section-intro {
        margin-bottom: 3rem;
    }

    section {
        padding: 4.5rem 0;
    }
}